hagen.adb     @coolian1337
hagen.asm     @MrGriefs
hagen.awk     @coolian1337
hagen.bas     @coolian1337
hagen.bash    @MrGriefs
hagen.bf      @coolian1337
hagen.c       @coolian1337
hagen.cpp     @coolian1337
hagen.cr      @coolian1337
hagen.cs      @coolian1337
hagen.d       @coolian1337
hagen.dart    @coolian1337
hagen.erl     @coolian1337
hagen.gcode   @RamonvRooyen
hagen.go      @SamomenX
hagen.groovy  @coolian1337
hagen.hs      @coolian1337
hagen.html    @SamomenX
hagen.java    @SamomenX
hagen.js      @MrGriefs
hagen.json    @SamomenX
hagen.julia   @coolian1337
hagen.kt      @coolian1337
hagen.lua     @MrGriefs
hagen.matlab  @coolian1337
hagen.nim     @coolian1337
hagen.node.js @MrGriefs
hagen.octave  @coolian1337
hagen.pearl   @MrGriefs
hagen.perl    @MrGriefs
hagen.php     @coolian1337
hagen.py      @SamomenX
hagen.r       @coolian1337
hagen.rb      @coolian1337
hagen.rs      @coolian1337
hagen.scala   @coolian1337
hagen.swift   @coolian1337
hagen.tcl     @coolian1337
hagen.vb      @coolian1337